body {
  background-color: #899bbd;
  color: #444444;
}

.question-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.question-option-container {
  display: flex;
  align-items: center;
}

.option-btn {
  display: inline-block;
  margin-right: 10px;
}

.option-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.timer {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.timer i {
  margin-right: 8px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.question-nav button {
  margin-right: 5px;
  margin-bottom: 10px;
}